<form method="get" action="/quizes">

	Introduzca <%= buscatema %> <p>
	<input type="text" name="search2" value=""/><br>

	Introduzca <%= busqueda %> <p>
	<input type="text" name="search" value=""/><br>
O deje en blanco para incluir todo:
	<input type="submit" value="Enviar">
	<a href="/quizes/">
</form>