<table>
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href="quizes/<%= quizes[i].id %>/edit"<button>editar</button></a></td>
		</tr>
	<% } %>
</table>
<p/>
<A HREF="/quizes/new"><button type="button">Crear pregunta</button></a><br>
<A HREF="/quizes/b"><button type="button">Buscar una pregunta</button></a><br>